<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
        <p class="content">My Custom content</p>
        <div id="container"></div>
  </body>
</html>